{% extends 'layout.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block content %}
    <h1>Modifier le commentaire</h1>

    
        {{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="mt-4">
        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
